
# PlanAhead Generated physical constraints 

NET "pb1" LOC = D18;
NET "pb2" LOC = V4;
NET "pb3" LOC = H13;
NET "pb4" LOC = K17;
NET "rot" LOC = V16;

# PlanAhead Generated IO constraints 

NET "pb1" IOSTANDARD = LVTTL;
NET "pb2" IOSTANDARD = LVTTL;
NET "pb3" IOSTANDARD = LVTTL;
NET "pb4" IOSTANDARD = LVTTL;
NET "pb1" PULLDOWN;
NET "pb2" PULLDOWN;
NET "pb3" PULLDOWN;
NET "pb4" PULLDOWN;
NET "rot" PULLDOWN;
NET "rot" IOSTANDARD = LVTTL;

# PlanAhead Generated physical constraints 

NET "yi[3]" LOC = N17;
NET "yi[2]" LOC = H18;
NET "yi[1]" LOC = L14;
NET "yi[0]" LOC = L13;
NET "sum[0]" LOC = F12;
NET "sum[1]" LOC = E12;
NET "sum[2]" LOC = E11;
NET "sum[3]" LOC = F11;
NET "sum[4]" LOC = C11;
NET "sum[5]" LOC = D11;
NET "sum[6]" LOC = E9;
NET "pb1" CLOCK_DEDICATED_ROUTE = FALSE;
NET "pb2" CLOCK_DEDICATED_ROUTE = FALSE;
NET "pb3" CLOCK_DEDICATED_ROUTE = FALSE;
NET "pb4" CLOCK_DEDICATED_ROUTE = FALSE;
NET "rot" CLOCK_DEDICATED_ROUTE = FALSE;

