//! **************************************************************************
// Written by: Map P.20131013 on Mon Feb 05 15:04:40 2018
//! **************************************************************************

SCHEMATIC START;
COMP "yi<0>" LOCATE = SITE "L13" LEVEL 1;
COMP "yi<1>" LOCATE = SITE "L14" LEVEL 1;
COMP "yi<2>" LOCATE = SITE "H18" LEVEL 1;
COMP "yi<3>" LOCATE = SITE "N17" LEVEL 1;
COMP "sum<0>" LOCATE = SITE "F12" LEVEL 1;
COMP "sum<1>" LOCATE = SITE "E12" LEVEL 1;
COMP "sum<2>" LOCATE = SITE "E11" LEVEL 1;
COMP "sum<3>" LOCATE = SITE "F11" LEVEL 1;
COMP "sum<4>" LOCATE = SITE "C11" LEVEL 1;
COMP "sum<5>" LOCATE = SITE "D11" LEVEL 1;
COMP "sum<6>" LOCATE = SITE "E9" LEVEL 1;
COMP "rot" LOCATE = SITE "V16" LEVEL 1;
PIN rot_pin<0> = BEL "rot" PINNAME PAD;
PIN "rot_pin<0>" CLOCK_DEDICATED_ROUTE = FALSE;
COMP "pb1" LOCATE = SITE "D18" LEVEL 1;
PIN pb1_pin<0> = BEL "pb1" PINNAME PAD;
PIN "pb1_pin<0>" CLOCK_DEDICATED_ROUTE = FALSE;
COMP "pb2" LOCATE = SITE "V4" LEVEL 1;
PIN pb2_pin<0> = BEL "pb2" PINNAME PAD;
PIN "pb2_pin<0>" CLOCK_DEDICATED_ROUTE = FALSE;
COMP "pb3" LOCATE = SITE "H13" LEVEL 1;
PIN pb3_pin<0> = BEL "pb3" PINNAME PAD;
PIN "pb3_pin<0>" CLOCK_DEDICATED_ROUTE = FALSE;
COMP "pb4" LOCATE = SITE "K17" LEVEL 1;
PIN pb4_pin<0> = BEL "pb4" PINNAME PAD;
PIN "pb4_pin<0>" CLOCK_DEDICATED_ROUTE = FALSE;
NET "pb3_BUFGP/IBUFG" BEL "pb3_BUFGP/BUFG.GCLKMUX" USELOCALCONNECT;
NET "pb4_BUFGP/IBUFG" BEL "pb4_BUFGP/BUFG.GCLKMUX" USELOCALCONNECT;
NET "rot_BUFGP/IBUFG" BEL "rot_BUFGP/BUFG.GCLKMUX" USELOCALCONNECT;
NET "pb1_BUFGP/IBUFG" BEL "pb1_BUFGP/BUFG.GCLKMUX" USELOCALCONNECT;
NET "pb2_BUFGP/IBUFG" BEL "pb2_BUFGP/BUFG.GCLKMUX" USELOCALCONNECT;
SCHEMATIC END;

